{% extends "base.html.twig" %}
{% block content %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>
                    {{ form_start(form) }}
                    <div class="input-group rounded mb-3">
                        {{ form_widget(form.city) }}
                        {{ form_errors(form.city) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}